page-my-cart {
  img{
    height: 80%;
    width: 40%;
  }
  .pay-btn{
    margin-left: 8%;
    width: 83%;
    margin-right: 8px;
  }
  h4{
    text-align: center;
  }
  .nav-headline{
    text-align: center;
    font-family: "Titan One";
  }
  .cartEmptyTagLine{
    padding-top: 40%;
  }
}
