page-home {

  .logo{
    width: 30%;
    height: 80%;
    margin-left: -10px;
    margin-top: 2px;
    border-radius: 2px;
  }

  img{
    height: 70%;
    width: 60%;
    margin-left: 20%;
  }

  .nav-headline{
    margin-left: -114px;
    margin-top: 12px;
    font-family: "Monotype Corsiva";
  }

}
